#article {
  .article- {
    &header {
        margin-bottom: 30px;
    }
    &card {
      background: $white;
      border-radius: 24px;
      margin-bottom: 18px;

      @include lg {
        margin-bottom: 0;
      }
    }
    &button {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      padding: 12px 32px;

      border-radius: 12px;

      border: 1px solid $primary-light;

      color: $primary-light;

      width: fit-content;
    }

    &thumbnail {
      width: 100%;
      height: auto;
      @include lg {
          height: 210px;
        }
    }

    &detail {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */

      text-transform: capitalize;

      color: $grey;

      &.category {
        color: $dark-blue;
        margin-top: -3px;

        &::after {
          content: ".";
          font-weight: 500;
          font-size: 24px;
          line-height: 21px;
          /* identical to box height */

          text-transform: capitalize;

          color: $grey;
          position: relative;
          top: -3px;
          margin: 0 4px;
        }
      }
    }

    &content {
      padding: 16px;
    }

    &title {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      text-transform: capitalize;

      color: #232631;

      margin-top: 4px;
      margin-bottom: 8px;
    }

    &profile-picture {
      width: 24px;
      height: 24px;
    }

    &profile {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */

      text-transform: capitalize;

      color: $grey;
    }

    &link {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      color: $primary-light;
      background: linear-gradient(
        336.8deg,
        rgba(12, 100, 220, 0.1) 2.51%,
        rgba(44, 149, 219, 0.1) 87.37%
      );
      border-radius: 12px;
      padding: 12px 0;
      display: block;
      text-align: center;

      margin-top: 29px;
    }
  }
}
